<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myController">
    Enter the First Number: <input type="number" ng-model="num1" /><br><br>
    Enter the Second Number: <input type="number" ng-model="num2" /><br><br>
    <input type="button" value="Addition" ng-click="add()" /><br><br>
    Addition: {{ result }}
</body>
<script>
    //step 1. Initailize Angular App
    var app = angular.module("myApp",[]);

    //Step 2. Define controller
    app.controller("myController", function($scope) {
        $scope.num1 = 0;
        $scope.num2 = 0;
        $scope.result = null;

        $scope.add = function() {
            $scope.result = $scope.num1 + $scope.num2;
        }
    });

</script>

</html>